---
import Sidebar from '../../components/Sidebar';
import SidebarAccordion from '../../components/SidebarAccordion.astro';
import DocLayout from '../../layouts/DocLayout.astro'


---
<DocLayout>
   <div class="">
    this is docs page
   </div>

</DocLayout>


<style>
  a{
    text-decoration: none;
    color:black

  }
</style>