<article class="w-[82.5%] m-auto flex items-center justify-between py-[1rem]">
  <p>Copyright © 2023. All Rights Reserved.</p>
  <div class="flex gap-4 items-center">
    <img src="/twitter.svg" alt="" class="p-2 w-8 h-8 border-black border-[1px] rounded-full">
    <img src="/facebook.svg" alt="" class="p-2 w-8 h-8 border-black border-[1px] rounded-full">
    <img src="/instagram.svg" alt="" class="p-2 w-8 h-8 border-black border-[1px] rounded-full">
    <img src="/youtube.svg" alt="" class="p-2 w-8 h-8 border-black border-[1px] rounded-full">
  </div>
</article>