---
  const footerItems1 = [
    "Company", "Hire Team", "Jobs", "Brochure", "FAQs", "Blog", "Contact Us"
  ]
  const footerItems2 = [
    "Services", "UI/UX design", "Web Development", "Content Writing", "Partnerships", "Community management"
  ]

---
---

<footer class="flex items-start justify-between pt-[7.5rem] px-2">
   <div>
    <img src="/logo-footer.svg" alt=""  >
   </div>

   <div class="flex gap-[10rem] items-start">
      
    <ul class="flex flex-col gap-4">
        {footerItems1.map((item, idx)=>(
            <li class = {`${idx === 0 && "font-bold"}`}>{item}</li>
        ))}
    </ul>
    <ul class="flex flex-col gap-4">
        {footerItems2.map((item, idx)=>(
            <li class = {`${idx === 0 && "font-bold"}`}>{item}</li>
        ))}
    </ul>
    <ul class="flex flex-col gap-4">
        
            <li class="font-bold pl-2">Start a Conversation</li>
            <li class="flex items-center gap-2"><img src={'/skype.svg'} class="bg-white p-2 rounded-full"/> <span>Hooman Digital</span></li>
            <li class="flex items-center gap-2"><img src={'/mail.svg'} class="bg-white p-2 rounded-full"/> <span>hooman123@yahoo.com</span></li>
            <li class="flex items-center gap-2"><img src={'/phone.svg'} class="bg-white p-2 rounded-full"/> <span>+91 8852528156</span></li>
            <li class="flex items-center gap-2"><img src={'/whatsapp.svg'} class="bg-white p-2 rounded-full"/> <span>+91 8852528156</span></li>
       
    </ul>
     
   </div>
   
</footer>