---
import {Image} from "astro:assets"

const userEmail = Astro.cookies.get("userEmail")
---

<header
    class="w-[82.5%] m-auto py-10 flex items-center justify-between"
>
<div class="w-[9rem] h-[3rem] pt-[0.25rem]">
    <img class="w-[100%]" src = '/logo-lg.svg'/>
</div>

<div class="flex gap-[2rem] items-center">
    <a href = '/docs'class="text-[18px]">Docs</a>
    <div class="w-[2rem] h-[2rem]">
        <img class="w-[100%]" src = '/humburger.svg'/>
    </div>
</div>
   
</header>

